<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <logo menuToggle left></logo>
    <ion-title>
      Login
    </ion-title>
    <button ion-button menuToggle end (click)="manageAccessCodes()">
      <ion-icon name="bug" class="larger-icon"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="paragraph-info">
    Login using stored <span class="italic">access codes</span> or try to insert your custom one.
  </p>

  <hr>

  <ion-card *ngIf="!accessCodesList.length">
    <ion-card-content>
      <p id="ionCardParagraph">
        <span class="underline">No access code</span> previously added. Go to <span class="italic">settings</span>
        <ion-icon name="bug"></ion-icon> to store a new one.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-row *ngFor="let code of accessCodesList; let i=index">
    <button class="mx-width-60" ion-button
            color="secondary_custom" outline
            round (click)="login(code)">
      Access Code {{i+1}}
    </button>
  </ion-row>

  <form [formGroup]='loginForm'
        (ngSubmit)="login(accessCode)" novalidate>
    <ion-item>
      <ion-label floating>Access code...</ion-label>
      <ion-input type='text' formControlName='accessCode'
                 name='accessCode' [(ngModel)]='accessCode'></ion-input>
    </ion-item>

    <button ion-button class="mx-width-60 margin-top"
            outline color='secondary_custom'
            [disabled]="!loginForm.controls['accessCode'].valid">
      Sign in
    </button>
  </form>
</ion-content>
