page-scan {
  p {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  hr {
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }

  ion-item-group:not(:last-child) {
    margin-top: 20px;
  }

  #btn-stretch-width {
    width: 50%;
  }
}
