<!--
  Generated template for the Scan page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <logo menuToggle left></logo>
    <ion-title>Home - Scan</ion-title>
    <logout menuToggle end></logout>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="paragraph-info">
    Search using available <span class="italic">tickets/credentials</span> or try to input your custom one.
  </p>
  <form [formGroup]="searchForm"
        (ngSubmit)="search(searchedDBString)"
        novalidate>
    <ion-item>
      <ion-label floating>Credential or ticket...</ion-label>
      <ion-input type="text" formControlName="searchedDBString"
                 [(ngModel)]="searchedDBString"></ion-input>
    </ion-item>
    <button ion-button class='margin-top mx-width-60'
            outline color='secondary_custom'
            [disabled]="!searchForm.controls.searchedDBString.valid">
      Search
    </button>
  </form>
  <hr>
  <ion-row *ngFor = "let credential of randomCredentials; let i=index">
    <button ion-button color='secondary_custom'
            outline round class="mx-width-60"
            (click)='search(credential, "credential")'>
      Credential {{i+1}}
    </button>
  </ion-row>
  <hr>
  <ion-row *ngFor = "let ticket of randomTickets; let i=index">
    <button ion-button color='secondary_custom'
            round class="mx-width-60"
            (click)='search(ticket, "ticket")'>
      Ticket {{i+1}}
    </button>
  </ion-row>
</ion-content>
