page-popover-menu {
  .no-btm-margin {
    margin-bottom: 0px;
  }

  logout button {
    width: 100%;
    margin: 0 !important;
    min-height: 4.4rem;
  }

  #logoutText {
    color: black;
    text-transform: none;
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
    font-weight: normal;
  }
}
