// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Jura";
  src: url('../assets/fonts/Jura/Jura-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Jura/Jura-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Jura/Jura-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Jura/Jura-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Jura/Jura-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Jura/Jura-Regular.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.button:active {
  opacity: 0.5;
}

.paragraph-info {
  font-size: 1.7rem;
  padding-left: 10px;
  padding-right: 5px;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

hr {
  width: 95%;
  height: 2px;
}

.mx-width-60 {
  width: 60%;
  margin-left: 20%;
}

.margin-top {
  margin-top: 10px;
}

.larger-icon {
  font-size: x-large;
}

.table ion-col {
  padding: 10px;
  text-align: left;
}

.table ion-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.table ion-row ion-col:first-child{
  color: #006600;
  border-bottom: 1px dotted #003300;
}

.table ion-row:first-child {
  border-top: 1px solid grey;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
